# .DS_Store
.DS_Store

# Integration Tests
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# node_moduless

# Test Temp Files
assets/.nojekyll
assets/CNAME

# Build
# lib

## Registry
package-lock.json
yarn-error.log

## SSH
.ssh
*.pub

## CodeCov
coverage

# Yarn Integrity file
.yarn-integrity